@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-VariableFont_wght.ttf");
}

#root {
  font-family: Montserrat;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171f23;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  height: 100%;
  padding: 5rem;
}

.top-left {
  width: 600px;
  height: 600px;
  position: absolute;
  top: -50%;
  left: -30%;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}
