@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Sail";
  src: url("./assets/Sail-Regular.ttf");
}

#root {
  font-family: Montserrat;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171f23;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5rem;
}

.top-left {
  width: 600px;
  height: 600px;
  position: absolute;
  top: -50%;
  left: -30%;
}

.row {
  flex-direction: row;
  height: min-content;
}

.col {
  flex-direction: column;
}

.planet {
  position: fixed;
  height: 350px;
  width: 350px;
  bottom: 0%;
  right: 0%;
}

.find-the {
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
}

.meaning {
  color: rgba(237, 209, 110, 0.4);
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 700;
  position: relative;
  margin-top: -6rem;
}

.name-word {
  color: rgba(255, 255, 255, 0.75);
  font-family: Sail;
  font-size: 240px;
  font-weight: 400;
}
