@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Sail";
  src: url("./assets/Sail-Regular.ttf");
}

#root {
  font-family: Montserrat;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171f23;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  /* height: 100%;   */
  padding: 6rem;
}

.top-left {
  width: 600px;
  height: 600px;
  position: absolute;
  top: -50%;
  left: -30%;
}

.row {
  flex-direction: row;
  height: fit-content;
}

.col {
  flex-direction: column;
}

.title-link {
  background-color: rgba(23, 31, 35, 0.99);
  position: sticky;
  top: 0rem;
  height: 60px;
  padding: 2rem;
  text-align: right;
}

.planet {
  position: fixed;
  height: 350px;
  width: 350px;
  bottom: 0%;
  right: 0%;
}

.find-the {
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
}

.meaning {
  color: rgba(237, 209, 110, 0.4);
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 700;
  position: relative;
  margin-top: -6rem;
}

.name-word {
  color: rgba(255, 255, 255, 0.75);
  font-family: Sail;
  font-size: 240px;
  font-weight: 400;
}

.search {
  position: relative;
  margin-top: -16rem;
}

.search-input {
  font-family: Montserrat;
  font-size: 12px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #171f23;
}

.search-button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  background: #fff;
  color: #171f23;
}

.response {
  font-family: Montserrat;
  font-size: 14px;
  justify-self: center;
  text-align: center;
  padding: 2rem;
  color: #fff;
  width: 500px;
  height: 600px;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.3);
}
